<app-sidebar [isShift]="isShift" [module]="module"></app-sidebar>

<nav [ngClass]="{ 'navbar-shift': isShift }" class="navbar flex">
    <div class="navbar-left-container flex">
        <fa-icon [icon]="faBars" (click)="initShift()" class="icon-navbar icon-decor flex">
        </fa-icon>
        <h1 [ngStyle]="{ display: isShift ? 'none' : 'inline' }" class="navbar-title">
            {{ module.text }}
        </h1>
    </div>
    <div class="navbar-right-container flex">
        <fa-icon [icon]="faGrip" (click)="setIsPop()" class="icon-grip icon-decor flex">
        </fa-icon>
        <fa-icon [icon]="faShare" class="icon-share icon-decor flex">
        </fa-icon>
        <div class="popup-nav flex" [ngClass]="{ 'show-popup': isPop }">
            <div *ngFor="let module of modules" class="popup-nav-category flex" (click)="setModule(module)">
                <fa-icon [icon]="faSquare" class="popup-nav-icon"></fa-icon>
                <span class="popup-nav-cat-name">{{ module.text }}</span>
            </div>
        </div>
    </div>
</nav>