.filter-form {
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px;
}

.filter-form-input {
    width: min(20%, 12em);
    margin-right: 1em;
    font-size: 16px;
}

.input-startdate,
.input-enddate,
.input-ip,
.input-keyword,
.filter-form-button {
    height: 40px;
    margin-top: 3px;
}

.grid-table {
    height: calc(100% - 97px);
}

.k-grid {
    height: 100%;
}