.sidebar {
    position: fixed;
    top: 2vh;
    left: 1rem;
    width: 14.5rem;
    height: 96vh;
    color: #fff;
    border-radius: 10px;
    transform: translateX(-15.5rem);
    transition-duration: 200ms;
    background-color: #42424a;
}

.sidebar-title-group {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-list {
    list-style: none;
    padding: 0 1.2rem;
}

.sidebar-list-item {
    cursor: pointer;
    position: relative;
    margin-bottom: 0.5em;
    transition-duration: 300ms;
}

.sidebar-list-item-header {
    font-size: 1.4rem;
    justify-content: space-between;
    margin-bottom: 0.3em;
}

.sidebar-list-nested {
    list-style: none;
    position: absolute;
    font-size: 1.2rem;
    padding-left: 1em;
}

.sidebar-list-item-nested {
    margin-bottom: 0.3em;
}

.sidebar-shift {
    transform: translateX(0);
    transition-duration: 200ms;
}

.nested-cover {
    position: absolute;
    top: 2em;
    width: 12em;
    height: 6em;
    background-color: #42424a;
    transition-duration: 300ms;
}

.active-item {
    transform: translateY(6em);
}

