<aside [ngClass]="{ 'sidebar-shift': isShift }" class="sidebar">
    <div class="sidebar-title-group">
        <h1 class="sidebar-title">{{ module.text }}</h1>
    </div>
    <ul *ngIf="menuItems[0].text; else standardList" class="sidebar-list">
        <li *ngFor="let parentItem of menuItems" class="sidebar-list-item">
            <div class="sidebar-list-item-header flex" (click)="toggleSlide(parentItem.id)" >
                <span>{{ parentItem.text }}</span>
                <fa-icon [icon]="faArrow"></fa-icon>
            </div>
            <ul class="sidebar-list-nested" [ngClass]="{ 'active-submenu': menuClickStatus[parentItem.id] }">
                <li *ngFor="let nestedItem of parentItem.items" class="sidebar-list-item-nested"
                    [routerLink]="['/', module.value, nestedItem.value]">
                    <span>{{ nestedItem.text }}</span>
                </li>
            </ul>
        </li>
    </ul>
    <ng-template #standardList>
        <ul class="sidebar-list">
            <li *ngFor="let item of menuItems" class="sidebar-list-item">
                <span class="sidebar-list-item-header">{{ item }}</span>
            </li>
        </ul>
    </ng-template>
</aside>